/* Main container */
.management-container {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header-management {
  display: flex;
  padding: 20px;
}

/* SEARCH BAR */
.search-prod-management {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: sticky;
  top: 0;
  border: 1px solid #d0d3d9;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar-management {
  display: flex;
  align-items: center;
  padding: 0 5px 0;
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
}

.prod-search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #292929;
  background: transparent;
  margin-top: 10px;
  margin-left: -10px;
}

/* Inventory Summary */
.prod-inventory-summary {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: -10px 20px 20px 20px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #d0d3d9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #292929;
}

.prod-inventory-summary h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 15px;
}

.inventory-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.inventory-box {
  flex: 1;
  min-width: 150px;
  text-align: center;
}

.label {
  font-size: 16px;
  color: #41ab5d;
  font-weight: 600;
  margin-bottom: 5px;
}

.value {
  font-size: 35px;
  font-weight: 700;
  color: #41ab5d;
}

/* Products Section */
.products-section {
  padding: 20px;
  background: #fff;
  border: 1px solid #d0d3d9;
  border-radius: 8px;
  margin: -10px 20px 0 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 465px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.table-wrapper {
  flex: 1;
}

/* Header buttons */
.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.products-header h3 {
  color: #292929;
  font-size: 20px;
}

/* ADD PRODUCT AND FILTERS */
.products-header button {
  margin-left: 10px;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}

.btn-add {
  background: #41AB5D;
  border: 1px solid #d0d3d9;
  color: #fff;
}

.btn-add:hover {
  background-color: #4caf50;
}

.btn-filters {
  background: #fff;
  border: 1px solid #d0d3d9;
  color: #5d6679;
}

/* Table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.product-table th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #667085;
}

.product-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #48505e;
}

/* Status Colors */
.status {
  font-weight: bold;
}

.status-in-stock {
  color: green;
}

.status-out-of-stock {
  color: red;
}

.status-low-stock {
  color: orange;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 1;
}

/* Pagination Button Styles */
.pagination button {
  width: 100px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.pagination button:hover {
  background-color: #41ab5d;
}

.pagination span {
  font-size: 14px;
  color: #292929;
  align-self: center;
  padding: 0 10px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 1366px) {
  .search-prod-management{
    width: 270px;
  }
  .search-bar-management{
    height: 40px;
  }
  
  .prod-search-input{
    font-size: 14px;
  }

  .products-section{
    height: 49vh;  
  }
  
  .table-wrapper{
    overflow-y: scroll;
  }
}
/* Table Wrapper */
/* .table-wrapper {
    flex-grow: 1; 
    padding-bottom: 30px; 
    margin-bottom: 10px;
    overflow: visible; 
  } */
