/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: white;
  transition: left 0.3s ease-in-out;
  padding: 20px 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Sidebar open state */
.sidebar.open {
  left: 0;
}

/* Sidebar list styling */
.sidebar ul {
  list-style: none;
  padding: 10px 0;
  margin-top: 65px;
  border-top: 1px solid #d9d9d9;
}

/* Sidebar list item styling */
.sidebar ul li {
  padding: 15px 20px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

/* Sidebar list item icon styling */
.sidebar ul li img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  object-fit: contain;
  filter: invert(28%) sepia(67%) saturate(345%) hue-rotate(89deg)
    brightness(91%) contrast(84%);
}

/* Icon hover effect */
.sidebar ul li:hover img {
  filter: invert(1) brightness(100%);
}

/* List item hover effect */
.sidebar ul li:hover {
  background-color: #41ab5d;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* First list item custom styling */
.sidebar ul li:first-child {
  position: relative;
  margin-top: 0;
  padding: 15px 20px;
}

/* Active list item styling */
.sidebar ul li.active {
  background-color: #d3d3d3;
  color: #292929;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* Active item icon color change */
.sidebar ul li.active img {
  filter: brightness(0.4);
}

/* Non-last list item margin */
.sidebar ul li:not(:last-child) {
  margin-bottom: 5px;
}

/* Sign-out button container */
.sign-out {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 15px 45px;
  background-color: #e74c3c;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Sign-out button hover effect */
.sign-out:hover {
  transform: scale(1.03);
  color: black;
}

/* Sign-out button icon styling */
.sign-out img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(1) sepia(0) saturate(0) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

/* Sign-out button icon hover effect */
.sign-out:hover img {
  filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(0.6)
    contrast(100%);
}

/* Menu icon color change when open */
#menu-icon.menu-icon-open {
  filter: invert(41%) sepia(92%) saturate(633%) hue-rotate(58deg)
    brightness(92%) contrast(88%);
}

/* Menu icon default color */
#menu-icon.menu-icon-closed {
  filter: invert(1);
}

/* Non-last list item margin (redundant but maintained) */
.sidebar ul li:not(:last-child) {
  margin-bottom: 5px;
}
