/* Main Section Adjustments */
.main-section {
  width: 65vw;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensures the section takes up the full height */
}

.header-left {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  background-color: #6a9135;
  color: white;
  padding: 20px 15px;
  justify-content: space-between;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
  z-index: 1;
  flex-shrink: 0; /* Prevents shrinking of the header */
}

.header-left .title {
  font-size: 20px;
}

/* Ensure icons move to the right */
.header-icons {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* Barcode icon */
#barcode-icon {
  padding: auto;
  width: 45px;
  height: 45px;
}

#menu-icon {
  margin-right: 30px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #6a9135;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 0;
}

.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
}

/* Ensure the product container grows to fit */
.product-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Take up remaining space */
  padding: 0;
}

/* Products Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  flex-grow: 1;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 120px); /* Ensures grid takes available height */
  overflow-y: auto;
}

/* Scrollbar */
.products-grid::-webkit-scrollbar {
  width: 8px;
}

.products-grid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.products-grid::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Navigation List */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
  background: white;
  box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 10px;
  padding-bottom: 60px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s, border-bottom 0.3s;
  text-align: center;
}

.nav-item.active {
  color: #6a9135;
  border-top: 3px solid #6a9135;
}

.nav-item:hover {
  color: #56792a;
}
